.delay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input-delay {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.snackbar-button {
  border-radius: 8px;
  padding: 8px 99px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border: none;
  margin-bottom: 8px;
}
