.timer-button:disabled {
  border-radius: 8px;
  padding: 8px 16px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  background: #cfcfcf;
  border: none;
}

.timer-button {
  background: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.timer-button:hover {
  background: #6c8cff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#datetime-picker {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  margin-right: 8px;
  margin-top: 8px;
}
.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.value {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
